<div id="confirmationDeletePostModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmationDeletePostModalTitle">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmationDeletePostModalTitle">Confirmation</h4>
            </div>
            
            <div class="modal-body">
                Supprimer ce post ?
            </div>
            <div class="modal-footer">
                <a id="deletePostOk" class="btn btn-success">Oui</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>